<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Xcode は、このワークスペースに従来の 32-bit Mac 警告が必要かどうかをすでに評価済みです。 -->
	<key>IDEDidComputeMac32BitWarning</key>
	<true/>
</dict>
</plist>
